.list-item {
  display: flex;
  justify-content: space-between;
  color: #f8fafc;
  align-items: center;
  border-bottom: 1px solid #94a3b8;
  padding: 12px;
  font-family: 'Roboto';
}

.visit-btn {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}
